.best-selling-products{
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter";
    line-height: 48px;
}

.view-all{
    background-color: #DB4444;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 16px;
    min-width: 159px !important;
    min-height: 56px !important;
    height: 24px;
    color: #FAFAFA;
    padding: px;
    text-align: center;
    border-radius: 4px;
    align-items: end;
    margin-left: 450%;
}