.head-link {
  font-weight: 500;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: left;
}

.container li {
  font-size: 16px;
  color: rgb(116, 114, 114);
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-left: 20px;
}
.container li:hover {
  color: rgb(66, 66, 202);
}

.password {
  text-align: left;
}

.short-input {
  min-width: 330px !important;
  background-color: #f5f5f5;
  height: 50px;
  border-radius: 4px;
  margin-left: 12px;
  margin-bottom: 12px;
  padding-left: 12px;
}

.long-input {
  min-width: 710px !important;
  background-color: #f5f5f5;
  height: 50px;
  border-radius: 4px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-left: 12px;
}

.text-very-left {
  min-width: 360px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.cancel-button {
  min-width: 57px;
  height: 24px;
  margin-right: 20%;
}

.save-changes {
  background-color: #db4444;
  min-width: 214px !important;
  height: 56px;
  padding: 16px 48px 16px 48px;
  border-radius: 4px;
  color: white;
}

.buttons {
  margin-left: 60%;
  margin-top: 12px;
  min-width: 220px;
}

.edit-your-profile {
  text-align: left;
  color: #db4444;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
}

.box-shadow {
  box-shadow: 10px 10px lightblue;
  border: 1px solid black;
}
.mcl-rimmel {
  color: #db4444;
}
.welcome {
  margin-left: 60%;
}

.error-field {
  text-align: left;
  min-width: 350px;
  color: #db4444;
  padding-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.profile {
  color: #db4444 !important;
}

.bold {
  font-weight: bold !important;
  font-size: 36px;
}
