.cart-card {
  border-style: dotted;
  border: 1.5px solid black;
  margin-left: 120%;
  max-width: 470px;
  min-height: 324px;
  border-radius: 4px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins";
  font-weight: 400;
  padding: 20px;
}

.cart-total {
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

.text-right {
  /* margin-left: 50%; */
  
}

.total-card{
  max-width: 280px !important;
}
.total-right{
  margin-left: 100%;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.proceed {
  background-color: #db4444;
  padding: 16px 48px 16px 48px;
  width: 260px;
  height: 56px;
  color: #fafafa;
  border-radius: 4px;
}

.coupon-code {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins";
  font-weight: 400;
  border-radius: 4px;
  max-width: 300px;
  border: 1px solid black;
  max-height: 56px;
  line-height: 2em; 

}
textarea:focus,
input:focus {
  outline: none;

}

.apply-coupon {

    padding: 16px 48px 16px 48px;
    background-color: #DB4444;
    min-width: 211px;
    min-height: 56px;
    border-radius: 4px;
    color: #FAFAFA;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font: "Poppins";
}

.home {
    text-decoration: none;
    text-underline-offset: none;
    color: grey;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 21px;
    font-family: "Poppins";
}
.cart {
    text-decoration: none;
    text-underline-offset: none;
    color: #000000;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 21px;
    font-family: "Poppins";
}
.return-to-shop {

}

.update-to-cart {

}

.button-return-update{
    min-width: 122px;
    min-height: 24px;
    font-family: "Poppins";
    font-size: 16px !important;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid black;
    padding: 16px 48px 16px 48px;
    border-radius: 4px;
    align-items: end;
}

.image {
    width: "54px";
    height: "54px"
}

.quantity{
    border: 1.5px solid #000000;
    border-radius: 4px;
    max-width: 72px;
    padding-left: 12px;
    min-height: 44px;
}

td {
    color: #000000;

}

th {
  
}

.card-box {
  min-width: 190px !important;
}

.text-very-left {
  font-size: 20px !important;
  font-weight: 500;
}

.table-head {
  font-size: 16px;
  font-weight:400;
  color: #000000;
  border-radius: 4px;
  max-width: 1170px !important;
  max-height: 72px !important;
}