.sales-card{
    background-color: #F5F5F5;
}

.discount{
    background-color: #DB4444;
    color: #FAFAFA;
    border-radius: 4px;
    width: 55px;
    height: 26px;
    /* padding: 50px; */
}

.price {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #DB4444;
}

.org-price {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
}

.rating{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.add-to-cart {
    background-color: black;
    color: white;
    &hover{
        background-color: white;
    }
}

.add-to-cart:hover {
    background-color: yellow;
    color: black;
}