

.looking-for {
    /* margin-left: 200px; */
    padding: 7px 12px 7px 20px;
    background-color: #F5F5F5;
    background-image: url("./icons/navbar/goggles.png") ;
    background-repeat: no-repeat;

}

