.view-all-button {
    background-color: #DB4444;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    width: 234px    ;
    height: 56px;
    color: #FAFAFA;
    padding: 16px 48px 16px 48px;
    border-radius: 4px;
    margin-left: 40%;
}